@font-face {
    font-family: 'lafentharegular';
    src: url('lafentha_demo-webfont.woff2') format('woff2'),
         url('lafentha_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
	padding:0;
	margin:0;
	list-style-type: none;
}

body{

    #menu-item-30, #menu-item-29, #menu-item-28:not(.sub-menu){
        font-family: 'Montserrat', sans-serif;
        font-size: 1.3em;
        font-weight: bolder;
    }

    p{
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
    }
    
    .sub-menu li{
        font-family: 'Montserrat', sans-serif;
        font-size: 0.6em;
        font-weight: lighter;
    }

    h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5em;
        font-weight: bolder;
    }

}

// EVERYTHING CODE

.wrapper{
    min-height: 100vh;
    width: 100vw;
    position: relative;

    header{
        z-index: 100;
        position: fixed;
        top: 0;
        right: 0;
        width:100%;
        background-color: rgba(white, .9);


        .menu{
            display: flex;
            flex-wrap:wrap;
            justify-content: space-between;
            align-items: center;

            .logo{
                flex:0 0 auto;
                padding: 2em 2em;
            
                a{
                font-size: 2em;
                font-weight: bold;
                color: black;
                text-decoration: none;
                font-family: 'lafentharegular';
                letter-spacing: 1px;
                text-transform: lowercase;
                }
    
            }

            .back-up{
                font-size: 2em;
            }
    
            .bars{
                flex:0 0 auto;
                color: black;
                margin-right: 1.5em;
    
                .fa-bars{
                    font-size: 1.5em;
                }
            }
    
            .nav{
                flex:1 0 95%;
                text-align: center;
                
                li{
                    display: block;
                    line-height: 2em;
                    padding: .8em;
                    font-weight: bold;
                    letter-spacing: 1px;
    
                    a{
                        text-decoration: none;
                        color: black;
                        letter-spacing: 1px;

                        &:hover{
                            color: #ccc;
                        }
                    }
                    
                }

            }

        }
    }

    .main{
        min-height: auto;
        padding: 2em 1em 2em 1em;
    }

    .footer{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 1em 2em;
        background-color: rgba(white, .9);
        z-index: 100;

        ul{
            display: flex;
            
            .fa-instagram{
                color: black;
                font-size: 2em;
                flex: 0 0 10%;
                margin-right: .6em;
                font-weight: lighter;
            }
        }
    }
}



// REMEMBER TO CODE FOR MOBILE FIRST 

// Desktop

@media only screen and (min-width : 60em) {

.wrapper{
    display: flex;

    header{
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        position: fixed;
        top: 5em;
        left: 0;
        width: 10em;
        z-index: 100;
        background-color: transparent;
        padding: 1em 2em;

        .menu{
            width: 100%;
        
            .logo{
                position: fixed;
                top: 5em;
                left: 0;
            }

            .bars{
                display: none;
            }

            .nav{
                display: flex !important;
                flex-wrap: wrap;
                margin-top: 6em;
                text-align: left;

                li{
                    flex: 1 0 90%;
                    min-height: 1em;
                    padding: .5em 0;

                }

                .back-up{
                    display: none;
                }
    
            }
        }
    }

    .main{
        min-width: 85%;
        margin-left:14em;
    }


}


}




// ABOUT PAGE

@import "about";

// CONTACT PAGE 

@import "contact";

// HOME PAGE 

@import "work";
